* {
  background-color: black;
  font-family: 'Nunito';
  color: #fff;
}
.App {
  text-align: center;
}
.main {
  display: flex;
}
.center-content {
  width: 40%;
  padding-left: 8%;
  padding-right: 2%;
}
.profilePage {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.loginPage {
  background-color: rgb(93, 93, 94);
}
::-webkit-scrollbar {
  height: 7px;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:focus {
  background: #555;
}
button {
  transition: 0.5s;
}
.messages {
  display: flex;
}
